.loading-bg[data-v-1781d97c] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4e4e4e url(/es/hehua/img/loading-bear.gif) no-repeat 50%;
    background-size: 1.98667rem 2.04rem;
    z-index: 9999
}

.content[data-v-1781d97c] {
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    color: #ccc;
    font-size: .32rem;
    text-align: center
}

p[data-v-1781d97c] {
    margin: auto;
    text-align: center;
    font-size: .29333rem
}

.ing[data-v-1781d97c] {
    opacity: 0
}

.one[data-v-1781d97c] {
    -webkit-animation: loading1-1781d97c 1s infinite;
    animation: loading1-1781d97c 1s infinite
}

.two[data-v-1781d97c] {
    -webkit-animation: loading2-1781d97c 1s infinite;
    animation: loading2-1781d97c 1s infinite
}

.three[data-v-1781d97c] {
    -webkit-animation: loading3-1781d97c 1s infinite;
    animation: loading3-1781d97c 1s infinite
}

@-webkit-keyframes loading1-1781d97c {
    0%,10%,20% {
        opacity: 0
    }

    30%,40%,50%,60%,70%,80%,90%,to {
        opacity: 1
    }
}

@keyframes loading1-1781d97c {
    0%,10%,20% {
        opacity: 0
    }

    30%,40%,50%,60%,70%,80%,90%,to {
        opacity: 1
    }
}

@-webkit-keyframes loading2-1781d97c {
    0%,10%,20%,30%,40%,50% {
        opacity: 0
    }

    60%,70%,80%,90%,to {
        opacity: 1
    }
}

@keyframes loading2-1781d97c {
    0%,10%,20%,30%,40%,50% {
        opacity: 0
    }

    60%,70%,80%,90%,to {
        opacity: 1
    }
}

@-webkit-keyframes loading3-1781d97c {
    0%,10%,20%,30%,40%,50%,60%,70%,80% {
        opacity: 0
    }

    90%,to {
        opacity: 1
    }
}

@keyframes loading3-1781d97c {
    0%,10%,20%,30%,40%,50%,60%,70%,80% {
        opacity: 0
    }

    90%,to {
        opacity: 1
    }
}

body {
    background: #e1e1e1
}

body .bottom,body .top {
    position: relative;
    margin-bottom: .06667rem;
    padding: .4rem .26667rem .4rem .66667rem;
    background: #fff
}

body h4 {
    font-size: .50667rem;
    line-height: .66667rem;
    margin-bottom: .2rem
}

body h6 {
    font-size: .42667rem;
    line-height: 2
}

body h5,body h6 {
    margin-bottom: .26667rem
}

body h5 {
    padding-left: .66667rem;
    font-size: .37333rem;
    color: #818181;
    font-weight: 400
}

body .tel {
    color: #f08090
}

body .tel-icon {
    float: right;
    margin-right: .66667rem
}

body .tel-icon img {
    width: .53333rem;
    height: .53333rem
}

body .bottom {
    min-height: 4rem
}

body .bottom .image {
    float: right;
    text-align: center
}

body .bottom .image img {
    width: 2.09333rem;
    height: 3.73333rem;
    margin-right: .26667rem
}

body .bottom .text {
    padding-right: 2.4rem
}

body .infos {
    line-height: .53333rem;
    font-size: .32rem;
    color: #818181
}

body .scan-list {
    background: #fff;
    padding-top: .4rem
}

body .scan-list h6 {
    margin-bottom: .26667rem;
    font-size: .42667rem;
    line-height: 2;
    padding-left: .66667rem
}

body .scan-list ul {
    color: #818181;
    padding: 0 .73333rem .4rem
}

body .scan-list ul li {
    height: 1.17333rem;
    position: relative;
    border-bottom: .01333rem solid #e6e6e6
}

body .scan-list ul li p {
    line-height: 1.17333rem;
    float: left
}

body .scan-list ul li p:first-child {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%
}

body .scan-list ul li p:nth-child(2) {
    width: 40%;
    text-align: right
}

* {
    -webkit-tap-highlight-color: transparent
}

body,div,h1,h2,h3,h4,h5,h6,html,img,li,ol,p,ul {
    margin: 0;
    padding: 0
}

body {
    font-family: STHeiti,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%!important
}

a {
    text-decoration: none;
    color: inherit
}

li,ol,ul {
    list-style: none
}

address,em,i {
    font-style: normal
}

button,input {
    border: 0;
    outline: none
}

input[type=button],input[type=submit] {
    -webkit-user-select: none;
    user-select: none
}

input,textarea {
    -webkit-user-modify: read-write-plaintext-only
}

input,select {
    -webkit-appearance: none
}

a,img {
    -webkit-touch-callout: none
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none
}
