.number-input {
    width: 20px;
    margin: 0 3px;
    height: 30px;
    border: 1px solid #9d9891;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2002;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 38%;
    height: 6%;
}
.modal-content p {
    color: #fff;
    font-size: 12px; /* 调整字体大小 */
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* 半透明黑色 */
    z-index: 999; /* 确保在弹窗之上 */
}

#submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    width: 70%;
    height: 4.5vh; /* 使用百分比调整高度，具体值根据需要调整 */
    background-color: #dfbe88;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    margin-top: 20px;
}
#submit-btn:hover {
    background-color: #e0e0e0;
}
.table-container {
    background-color: white;
    width: 94%;
    height: 200px; /* Set a fixed height or adjust as needed */
    border-collapse: collapse;
    position: absolute;
    top: 45%; /* Percentage value */
    left: 50%;
    border-radius: 10px 10px 0 0;
    transform: translateX(-50%);
    z-index: 50;
}
.table-container td {
    text-align: center;
    padding: 0;  /* 移除单元格的内部间距 */
}

.table-container img {
    width: 100%;
    height: 35%;
    display: block;  /* 移除图片底部的默认间距 */
}

.input-group {
    flex-direction: column;
    justify-content: center;
    border-collapse: collapse;
    align-items: center;
    padding: 20px; /* 为输入组添加一些填充，使其看起来更好 */

    top: 45%;

}
#verification-text {
    font-size: 18px;
    color: #292725;
    font-weight: bold;
    margin-bottom: 30px;
}
.new-table {
    position: absolute;
    top: 63.9%; /* 使用相对单位，保持相对固定位置 */
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    border-collapse: collapse;

}
.new-table td {
    padding: 0;  /* 移除单元格的内部间距 */
}
.new-table img {
    width: 100%;
    height: 35%;
    display: block;  /* 移除图片底部的默认间距 */
}

.outer-table {
    z-index: 51;
    width: 100%;
    border-collapse: collapse;
    height: 8%;  /* 根据需要调整高度 */
    overflow: hidden;
    position: fixed;  /* 定位至页面底部 */
    bottom: 0;  /* 从底部开始的位置 */
    left: 0;
    background-color: white;
    border-top-left-radius: 20px;  /* 左上角圆角 */
    border-top-right-radius: 20px;  /* 右上角圆角 */
}

.inner-table {
    width: 33.33%;  /* 平分宽度 */
    float: left;  /* 使其并排显示 */
    border-collapse: collapse;
}
.inner-table a {
    display: inline-block;
    width: 33.33%;
}
.inner-table td {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 100%;            /* 设置高度为100%以确保图片在其内垂直居中 */
}

.inner-table  img {
    width: 60%;
    height: auto;
    max-width: 100%; /* 让图片不超过单元格宽度 */
    margin-left: 60px;
}
.image-container {
    z-index: 60;
    position: fixed;
    right: 0;
    bottom: 9%;
}
.image-container img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin: 5px 0;
}
.popup-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    padding: 10px 15px;
    top: 60%;
    z-index: 2000;
}

.popup-row {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 22%;
}

.popup-button {
    width: 42%;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    font-weight: bold;
    font-size: 22px;
}

.popup-button.double {
    width: 98%;
}
.popup-button.double.a {
    width: 15%; /* Set the width to 50% */
    margin: 5px;
    height: 5%;
    padding: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 4%;
    right: 6%;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.popup-button.double.b {
    width: 15%;
    margin: 5px;
    height: 45%;
    padding: 18px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    right: 6%;
    background-color: #cda25e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.popup-button.double.a span {
    padding: 5px; /* Adjust the padding as needed */
}
