[data-v-8224b1f0] .van-cell--center {
    width: 58vw;
    height: 13vw;
    border-radius: 6vw
}

[data-v-8224b1f0] .van-button--primary {
    background: linear-gradient(90deg, #f99054 0, #f73c43 99%);
    border: .1vw solid #f99054
}

[data-v-8224b1f0] .van-button--small {
    width: 19vw;
    height: 11vw;
    border-radius: 6vw;
    font-size: 4.5vw
}

[data-v-8224b1f0] .van-cell {
    padding: 2.6vw .2vw 2.6vw 4.26vw
}

.home .home-body[data-v-8224b1f0] {
    height: 100%;
    width: 100%;
    background-image: url(../img/home-bg.b6b4c11a.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh
}

.home .home-body .zhanwei[data-v-8224b1f0] {
    height: 30vh
}

.home .home-body .contain[data-v-8224b1f0] {
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.home .home-body .home-img[data-v-8224b1f0] {
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.home .home-body .home-img .img-size-1[data-v-8224b1f0] {
    width: 80vw;
    height: 15vh
}

.home .home-body .home-img .img-size-2[data-v-8224b1f0] {
    width: 80vw;
    height: 10vh
}

.home .home-body .pop[data-v-8224b1f0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.home .home-body .pop .pop-img[data-v-8224b1f0] {
    width: 80%;
    height: 95vw
}

.home .home-body .pop .pop-img2[data-v-8224b1f0] {
    width: 12vw;
    height: 12vw;
    margin-top: 5vw
}

.home .home-body .pop2[data-v-8224b1f0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.home .home-body .pop2 .pop-img[data-v-8224b1f0] {
    width: 92%;
    height: 60%
}

.home .home-body .wrapper[data-v-8224b1f0] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.home .home-body .wrapper .dia-img[data-v-8224b1f0] {
    width: 90%;
    height: 93.333333vw
}

.home input[data-v-8224b1f0]::-webkit-input-placeholder {
    color: #a9a9a9
}
