html,
body {
  background-color: #F6F6F6;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#app {
  box-sizing: border-box;
}

#Main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#Err {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 10px;
}

#Main .title,
#Err .title {
  padding: 13px 0px;
  background-color: #0C7EEA;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

#Main .main-contant {
  padding: 15px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: auto;
  /* 设置80px */
  bottom: 80px;
}

#Main .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
}

#Main .img-container #top-icon {
  width: 90px;
  left: 38px;
  top: 44px;
  position: absolute;
}

#Main .img-container img {
  width: 100%;
  border-radius: 9px;
}

#Main .productcard {
  margin-top: 20px;
  box-sizing: border-box;
}

#Main .productcard .product-title {
  font-size: 18px;
  font-weight: 500;
  color: #0c7eea;
  position: relative;
  padding-left: 7px;
}

#Main .productcard .product-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 3px;
  height: 18px;
  background: #0c7eea;
  border-radius: 3px;
}

#Main .productcard .product-content {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 10px 0 10px;
  background: #FFFFFF;
  border-radius: 9px;
  width: 100%;
  height: 100%;
}

#Main .productcard .product-content .cardinfotitle {
  border-bottom: 1px solid #dfdfdf;
  display: flex;
}

#Main .productcard .product-content .cardinfotitle .cardinfotitle-title {
  font-size: 16px;
  line-height: 17px;
  padding: 19px 0 19px 0;
  color: #333;
  white-space: nowrap;
}

#Main .productcard .product-content .cardinfotitle .cardinfotitle-info {
  font-size: 16px;
  line-height: 17px;
  padding-top: 19px;
  color: #666666;
  word-break: break-all;
}

#Main .productcard .product-content .cardinfotitle .cardinfotitle-float {
  /* width: 50%; */
  display: flex;
}

#Main .productcard .product-content .cardinfotitle:first-child {
  padding-top: 0;
}

#Main .productcard .product-content .cardinfotitle:last-child {
  padding-bottom: 0;
  border: none;
}

#Main .productcard .product-content-spacing {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#Main .productcard .product-content-spacing .cardinfotitle {
  background-color: #fff;
  border-radius: 9px;
  padding: 0 10px 0 10px;
  margin-top: 15px;
  display: flex;
}

#Main .productcard .product-content-spacing .cardinfotitle .cardinfotitle-title {
  font-size: 16px;
  line-height: 17px;
  padding: 24px 0 24px 0;
  color: #333;
  white-space: nowrap;
}

#Main .productcard .product-content-spacing .cardinfotitle .cardinfotitle-info {
  font-size: 16px;
  line-height: 17px;
  padding-top: 24px;
  color: #666666;
  word-break: break-all;
}

#Main .productcard .product-content-spacing .cardinfotitle .cardinfotitle-float {
  /* width: 50%; */
  display: flex;
}

#Main .productcard .product-content-spacing .cardinfotitle:first-child {
  padding-top: 0;
}

#Main .productcard .product-content-spacing .cardinfotitle:last-child {
  padding-bottom: 0;
  border: none;
}

#Main .productcard .normal-content {
  box-sizing: border-box;
  margin-top: 20px;
  background: #FFFFFF;
  border-radius: 9px;
  height: 60px;
  width: 100%;
}

#Main .productcard .normal-content .normal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 16px;
  color: #0C7EEA;
  font-weight: 400;
}

#Main .footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

#Main .footer .button {
  background: #0c7eea;
  border-radius: 40px;
  min-width: 150px;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

#Err .content {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Err .content img {
  width: 100%;
  height: auto;
}

#Err .content .scan-error-msg {
  margin-top: 50px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

#Err .content .scan-error-msg-1 {
  margin-top: 15px;
  font-size: 15px;
  color: #666666;
}

#Err .footer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#Err .footer .close {
  width: 170px;
  padding: 10px 0px;
  background: #0C7EEA;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 8px;
}
